{
  "extends": "airbnb",
  "rules": {
    "react/jsx-filename-extension": [1, { "extensions": [".js"] }],
    "react/react-in-jsx-scope": 0,
    "react/function-component-definition": 0,
    "import/prefer-default-export": 0
  },
  "env": {
    "browser": true
  }
}
